---
import Layout from '../layouts/Layout.astro';
---

<Layout title="EDO - VR - AR">
	<main>
		<div class="container-diapositiva">
			<div class="diapositiva flex justify-center items-center">
				<div class="hero p-16 flex flex-col justify-center items-center">
					<h1 class="f-roobert text-[48px] text-center">Aplicación de Ecuaciones Diferenciales en Realidad Virtual y Realidad Aumentada: Un enfoque hacia la Simulación y la Interacción</h1>
					<a class="f-roobert section-button mt-12" href="#seccion-1">
						<span>
							Sección 1
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="w-screen h-auto" id="seccion-1">
			<div class="flex justify-center items-center">
				<div class="hero p-16 flex flex-col justify-center items-center">
					<h1 class="f-roobert text-center text-[36px] mb-8 py-2 text-white">Teoría de las EDO aplicadas y aplicación <br> de las EDO en realidad virtual y realidad aumentada</h1>
					<div class="flex justify-center items-start">
							<div class="flex flex-col f-roobert w-[50%] px-16">
								<p class="bg-[#3A3A3A] text-white px-6 py-4 rounded-[10px] my-4 ml-[20px]">
									Las EDO permiten modelar movimientos, colisiones y dinámicas de objetos virtuales, proporcionando interacciones más realistas en tiempo real
								</p>
								
							</div>
						<iframe class="w-[550px] h-[400px] mt-[90px] mr-[20px] rounded-2xl" src="https://threejs.org/examples/webgl_points_waves.html" frameborder="0"></iframe>
					</div>
			</div>
		</div>
		<div class="w-screen h-auto" id="seccion-2">
			<div class="flex flex-col justify-center items-center">
				<div class="hero py-16 flex flex-col justify-center items-center">
					<div class="flex flex-col justify-center items-center">
						<div class="flex flex-col justify-center items-center">
								<div class="flex flex-col f-roobert px-16">
									<p class="bg-[#B2B2B2] text-black px-6 py-4 rounded-[10px] mx-4">
								Simulación de física:<br/>gravedad, movimiento de partículas, colisión de objetos, predecir las trayectorias, entre otros.</p>
									
								</div>
							<iframe class="w-[550px] h-[400px] mt-[50px] rounded-2xl" src="https://threejs.org/examples/physics_rapier_instancing.html" frameborder="0"></iframe>
						</div>
						<div class="flex justify-center items-end flex-row-reverse">
								<div class="flex flex-col f-roobert px-16 mb-16">
									<p class="bg-[#8A8A8A] text-white px-6 py-4 rounded-[10px] mx-4">
								Modelado de animaciones:<br/> posición, velocidad, aceleración y otros parámetros.
									</p>
									
								</div>
							<iframe class="w-[550px] h-[400px] mt-[90px] mr-[20px] rounded-2xl" src="https://threejs.org/examples/webgl_animation_skinning_ik.html" frameborder="0"></iframe>
						</div>
						<div class="flex justify-center items-start">
								<div class="flex flex-col f-roobert w-[50%] px-16 mt-[150px]">
									<p class="bg-[#626262] text-white px-6 py-4 rounded-[10px] mx-4">
								Interacción con el entorno
							</p>
									
								</div>
							<iframe class="w-[550px] h-[400px] mt-[90px] mr-[20px] rounded-2xl" src="https://threejs.org/examples/webxr_vr_sandbox.html" frameborder="0"></iframe>
						</div>
						<div class="flex flex-col justify-center items-center mt-[100px]">
								<div class="flex flex-col f-roobert px-16">
									<p class="bg-[#3A3A3A] text-white px-6 py-4 rounded-[10px] mx-4">
								Renderización de gráficos:<br/> comportamiento de la luz, reflexión, refracción y otros fenómenos ópticos, rayos de luz.
							</p>
									
								</div>
							<iframe class="w-[550px] h-[400px] mt-[50px] rounded-2xl" src="https://threejs.org/examples/webgl_shaders_ocean.html" frameborder="0"></iframe>
						</div>
						<div class="flex f-roobert px-16">
							
							
							
						</div>
					</div>
				</div>
			</div>
		<div>
			<!-- <iframe class="w-screen h-screen" src="https://threejs.org/examples/?q=vr#webxr_vr_rollercoaster" frameborder="0"></iframe> -->
		</div>
		</div>
		<div class="w-screen h-auto" id="seccion-3">
			<div class="flex flex-col justify-center items-center">
				<div class="hero py-16 flex flex-col justify-center items-center">
						<h1 class="f-roobert text-center text-[36px] py-2 mb-6 text-white">Ecuaciones diferenciales <br> para modelar diferentes aspectos</h1>
						<div class="flex justify-center items-center">
							<div class="flex flex-col f-roobert px-16">
								<div class="flex bg-[#B2B2B2] px-6 py-4 rounded-[10px] justify-center items-center mb-[50px]">
									<div class="text-white mx-4 w-[50%] ml-16">
										<h2 class="f-cy text-[26px]">Ecuaciones de movimiento:</h2>
										<hr class="my-3">
										<p class="f-roobert text-[22px]">
											
										Ecuaciones de cinemática, como la ecuación de movimiento de partículas o la ecuación de movimiento de cuerpos rígidos. Calcular la posición, velocidad, aceleración y orientación de los objetos virtuales en función del tiempo.
										</p>
									</div>
									<div class="flex flex-col w-[50%] ml-16">
										<img class="mt-4 rounded-[10px]" width="320" src="/img/1.gif" alt="">
										<img class="mt-4 rounded-[10px] bg-white p-3" width="320" src="/img/2.gif" alt="">
									</div>
								</div>
								<div class="flex flex-row-reverse bg-[#8A8A8A] px-6 py-4 rounded-[10px] justify-center items-center mb-[50px]">
									<div class="text-white mx-4 w-[50%] mr-16">
										<h2 class="f-cy text-[26px]">Ecuaciones de dinámica de partículas:</h2>
										<hr class="my-3">
										<p class="f-roobert text-[22px]">
										Movimiento y la interacción de partículas individuales. Estas ecuaciones se aplican para simular la física de partículas virtuales en entornos interactivos. Simulación de fluidos, colisiones de partículas, efectos de fuerza (como gravedad, fricción) y otras interacciones físicas.
										</p>
									</div>
									<div class="flex flex-col w-[50%] ml-16 justify-center items-center">
										<img class="mt-4 rounded-[10px]" src="/img/3.gif" width="320" alt="">
									</div>
								</div>
								<div class="flex bg-[#626262] px-6 py-4 rounded-[10px] justify-center items-center mb-[50px]">
									<div class="text-white mx-4 w-[50%] ml-16">
										<h2 class="f-cy text-[26px]">Ecuaciones de colisión:</h2>
										<hr class="my-3">
										<p class="f-roobert text-[22px]">
										Simular interacciones entre objetos virtuales y el entorno. Calcular la fuerza de colisión, la dirección resultante del movimiento y los efectos de rebote o deformación después de una colisión.
										</p>
									</div>
									<div class="flex flex-col w-[50%] ml-16">
										<img class="mt-4 rounded-[10px] bg-white p-3" width="320" src="/img/5.gif" alt="">
										<img class="mt-4 rounded-[10px] bg-white p-3" width="320" src="/img/4.gif" alt="">
									</div>
								</div>
								<div class="flex flex-row-reverse bg-[#B2B2B2] px-6 py-4 rounded-[10px] justify-center items-center mb-[50px]">
									<div class="text-white mx-4 w-[50%] mr-16">
										<h2 class="f-cy text-[26px]">Ecuaciones de iluminación:</h2>
										<hr class="my-3">
										<p class="f-roobert text-[22px]">
										Renderización gráfica, modelamiento de la propagación de la luz y los efectos de iluminación en los objetos virtuales. Permiten calcular cómo se comporta la luz al interactuar con los materiales y superficies.
										<hr class="my-3"/>
										<span class="f-roobert text-[20px]">Lux [lx] = intensidad luminosa [cd] / radio o distancia al cuadrado.</span>
										</p>
									</div>
									<div class="flex flex-col w-[50%] ml-[100px] justify-center items-center">
										<img class="mt-4 rounded-[10px] bg-white p-3" width="320" src="/img/6.svg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		<div class="container-diapositiva !h-auto hidden" id="seccion-4">
			<div class="diapositiva flex flex-col justify-center items-center">
				<div class="hero py-16 flex flex-col justify-center items-center">
					<h1 class="f-roobert text-center text-[24px] py-2 mb-6">Movimiento armónico simple (MAS)</h1>
					<div class="flex justify-center items-center">
						<img src="img/7.png" alt="">
					</div>
					<div class="flex flex-col justify-center items-center">
						<img class="w-[300px] h-auto rounded-[20px] m-4" src="img/11.png" alt="">
						<img class="w-[300px] h-auto rounded-[20px] m-4" src="img/8.png" alt="">
						<img class="w-[300px] h-auto rounded-[20px] m-4" src="img/10.png" alt="">
						<img class="w-auto h-[300px] rounded-[20px] m-4" src="img/9.png" alt="">
					</div>
					</div>
				</div>
		</div>
		<!-- <div class="flex flex-col place-content-center w-screen">
			<h1 class="text-white text-[24px] f-roobert w-full text-center py-8">Aplicación de ecuaciones de movimiento</h1>
		</div> -->

	</main>
</Layout>


