<!-- partial:index.partial.html -->
<div class="burger mix-blend-difference">
  <span></span>
</div>

<nav>
  <ul class="main f-cy">
    <li><a href="/">Inicio</a></li>
    <li><a href="/movimiento-armonico-simple">Movimiento Armónico Simple (MAS)</a></li>
    <li><a href="/van-der-pol">Van Der Pol (D.F)</a></li>
  </ul>
  
  <div class="about">
    <p class="f-roobert">Ejemplos simples creados por Joseph Santamaria</p>
  </div>
  
  <div class="social w-full">
    <a class="text-white hover:text-slate-400 duration-300" href="https://joseph-san.com" target="_blank"><i class="fa-solid fa-globe"></i><span class="ml-6 f-roobert">Website del creador</span></a>
  </div>
  
  <!-- <ul class="sub">
    <li><a href="#0">FAQ &amp; Shipping</a></li>
    <li><a href="#0">Terms &amp; Conditions</li>
  </ul> -->
</nav>
<div class="overlay"></div>